.links {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.subtopics {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}