.links {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.subtopics {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

#title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

#description {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-align: center;
}

.images-and-videos {
    text-align: center;
}

#copyright {
    color: gray;
    text-align: right;
}